
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fafafa;

}
header {
    width: 800px;
    height: 200px;
    border: 2px black solid;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 50px;
}
header h1{
    color: blue;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 30px;
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
.menu1{
    color: black;
    border: 2px black solid;
    width: 120px;
    height: 40px;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    margin-top: 30px;
  
}